<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="URL_Serv" value="192.168.32.207/NuevaCarpeta" />
    <add key="URL_ATT" value="192.168.32.207/test/PORTAL/" />
    <add key="URL_SAVE" value="C:\SH\" />
    <add key="URL_PREL" value="C:\SH\SAP\" />
    <add key="URL_2" value="C:\Users\SF\Desktop\Hola\" />
    <add key="mailt" value="PR" />
    <add key="mailtest" value="X" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="50000000" />
    <customErrors mode="Off" />
    <!--<identity impersonate="true" password="raisetaiger" userName="SF-0006\SF0006" />-->
    <!--<identity impersonate="true" password="raisetaiger" userName="LAPTOP-HNDDI09A\SF-0022" />-->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=200.57.115.214;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCALHOST;initial catalog=PAGOS;user id=sa;password=808estoylistO;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=WFARTHA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\SQLEXPRESS;initial catalog=WFARTHA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KPIG757\SQLEXPRESS;initial catalog=PAGOS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.207\WEBSERVICES;initial catalog=PAGOS;user id=pagos;password=Mokywa*610;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.207\WEBSERVICES;initial catalog=PAGOS;user id=pagos;password=Mokywa*610;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.207\WEBSERVICES;initial catalog=PAGOS;user id=pagos;password=Mokywa*610;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KPIG757\SQLEXPRESS;initial catalog=PAGOS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SF-0024\MSSQLSERVER2017;initial catalog=PAGOS;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--  <add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.207\WEBSERVICES;initial catalog=PAGOS0;user id=PAGOS;password=Mokywa*610;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  <add name="WFARTHAEntities" connectionString="metadata=res://*/Entities.WFARTHA.csdl|res://*/Entities.WFARTHA.ssdl|res://*/Entities.WFARTHA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.207\WEBSERVICES;initial catalog=PAGOS;persist security info=True;user id=PAGOS;password=Mokywa*610;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>